* {
    font-family: 'Courier New', monospace;
}

body {
    background-color: #6666ff;
}

header {
    width: 90%;
    background-color: #9999ff;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 10px 5px #3333ff;
    position: sticky;
    top: 0;
}

#header-nav {
    padding: 30px;
    text-align: center;
}

.header-links {
    text-decoration: none;
    margin-right: 30px;
    padding: 20px;
    color: #1a1aff;
    border-radius: 10px;
}

.header-links:visited {
    color: #1a1aff;
}

.header-links:hover {
    background-color: #b3b3ff;
}

.page-sections {
    width: 80%;
    background-color: #9999ff;
    text-align: center;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 10px 5px #3333ff;
    padding-bottom: 20px;
}

h1 {
    color: #000099;
    padding-top: 20px;
}

#profile-image {
    border-radius: 200px;
    border: 2px solid #000099;
    box-shadow: 7px 0px 5px #3333ff;
}

#about-me-para {
    padding: 20px;
    color: #000099;
}

table {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    border-collapse: collapse;
}

th, td {
    background-color: #ccccff;
    border: 2px solid black;
    border-collapse: collapse;
    padding: 10px;
    color: #000099;
}

tr {
    height: 80px;
    text-align: center;
}

#contact-form {
    text-align: center;
    padding: 20px;
    width: 60%;
    margin: auto;
    background-color: #ccccff;
    border-radius: 10px;
    border: 2px solid #000099;
    box-shadow: 7px 0px 5px #3333ff;
}

.form-labels {
    padding: 5px;
    color: #000099;
}

.form-inputs {
    padding: 5px;
    border-radius: 5px;
}

#form-submit {
    width: 120px;
    height: 45%;
    background-color: #b3b3ff;
}

#demo-iframe {
    width: 900px;
    height: 600px;
    border-radius: 10px;
    border: 2px solid #000099;
    box-shadow: 7px 0px 5px #3333ff;
}

footer {
    text-align: center;
    background-color: #9999ff;
    margin-top: 20px;
}

#footer-para {
    margin: 0;
    padding: 10px;
    color: #000099;
}